.chat-message-text  
{
    background-color: rgb(115, 223, 240);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    /* font-family: Arial;  for entire website in the index.css*/
}

.chat-message-user
{
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.chat-message-robot
{
    display: flex;
    align-items: start;;
}

.chat-message-profile{
    width: 45px;
}