.button-input-container{
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-top: 0px;
    margin-right: 10px;
    /* background-color: white; */
    /* align-items: center;
    justify-content: center; */
    /* margin-top: 10px; */
    /* margin: 5px 5px 5px 5px; */
    padding: 25px;
}
.message-input{
    flex-grow: 1;
    padding: 12px 50px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 12px;
}

.message-send-button{
    background-color: rgb(25, 135, 84);
    color: white;
    width: 75px;
    height: 50px;
    padding: 12px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    /* margin: 5px 5px 5px 5px; */
}