.doc-component-container{
 margin: 5px 5px 5px 5px;
 /* background-color: lightseagreen; */
 flex-grow: 1;
 margin-top: 5px;
 overflow: scroll;
 scrollbar-width: none;
}
.page-title{
  max-width: 250px;
  margin-left: 0px;
  font-size: 15px;
  font-style: italic;
  color: darkblue;
  flex-grow: 1;
  /* padding: 10px; */
}
.doc-upload-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */
    /* padding: 10px; */
}
.doc-title{
    font-size: 20px;
    color: black;
    padding: 10px;
}
.upload-button{
    background-color: rgb(25, 135, 84);
    border: none;
    font-family: 'Times New Roman', Times, serifs, bold;
    color: white;
    border-radius: 50px;
    /* padding: 15px; */
    flex-grow: 1;
    padding: 12px 20px; 
    border-radius: 10px;
    font-size: 12px;
    width: 187.33px;
    height: 39.33px;
    cursor: pointer;
}
.choosen-file-name{
  flex-grow: 1;
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 12px;

}
.file-chose-from-divice{
  flex-grow: 0;
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 12px;
}
.uploaded-doc-list{
  display: flex;
  flex-direction: column;
  /*flex-grow: 1; /*take up all the vertical(because flex-direction: column) space*/
  background-color: white;
  justify-content: space-between;
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 10px;
  padding: 12px, 10px;
  font-size: 12px;
  margin-top: 10px;
  border: 5px solid gray;
  /*align-items: center;*/
}

.uploaded-file-item{
  padding: 8px;
  display: flex;
  border-bottom: 1px solid gray; 
  font-size: 10px;
}
.vew-doc-button{
  display: flex;
  margin-left: 10px;
  background-color: rgb(25, 135, 84);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 6px 12px;
  font-size: 8px;
  cursor: pointer;
}